{% extends 'admin/master.html' %}

{% block head_content %}
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.timepicker.css" />

    <style>

.my-error-class {
    color:#FF0000;  /* red */
    }
    .my-valid-class {
        color:#00CC00; /* green */
    }
    </style>
{% endblock %}

{% block page_content %}

    <div class="container">
        <div class="panel panel-primary col-md-10">
            <div class="panel-heading">
                <h3 class="panel-title">Edit POI</h3>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" name="editPOI" id="editPOI"
                      method="POST"
                      action="{{ url_for('.edit_pois', poi_id = poi.id) }}"
                      enctype="multipart/form-data"
                      role="form">

                    <div class="form-group">
                        <label for="poi_name" class="col-md-2 control-label">POI Name</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="poi_name" name="poi_name" value="{{ poi.poi_name }}"/>
                            <input type="hidden"  id="poiname_hidden" value="{{ poi.poi_name }}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="poi_address" class="col-md-2 control-label">Address</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" id="poi_address" name="poi_address" value="{{ poi.poi_address }}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="poi_phone" class="col-md-2 control-label">Telephone</label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" id="poi_phone" name="poi_phone" value="{% for item in poi.poi_contact %}{{ item.telephone }}{% endfor %}">

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="poi_email" class="col-md-2 control-label">Email</label>
                        <div class="col-md-6">

                          <input type="email" class="form-control" id="poi_email" name="poi_email" value="{% for item in poi.poi_contact %}{{ item.email }}{% endfor %}">

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="poi_website" class="col-md-2 control-label">Website</label>
                        <div class="col-md-4">

                          <input type="text" class="form-control" id="poi_website" name="poi_website" value="{% for item in poi.poi_contact %}{{ item.website }}{% endfor %}">

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-md-2 control-label">Category</label>
                        <div class="col-md-6">
                            <select class="form-control" id="select_categ" name="select_categ">
                                <option selected disabled>-Select One-</option>

                                {% for c in categ %}
                                    {% if c.categ_id  == poi.category_id %}
                                        <option value="{{ poi.category_id }}" selected="selected">{{ c.categ_name_pt }}</option>

                                    {% else %}
                                        <option value="{{ c.categ_id }}">{{ c.categ_name_pt }}</option>
                                    {% endif %}
                                {% endfor %}

                            </select>
                        </div>
                        <div class="col-md-4" id="new_category" style="display:none;">
                            <input type="text" class="form-control" name="new_category" placeholder="Insert new category">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="name" class="col-md-2 control-label">County</label>
                        <div class="col-md-6">
                            <select class="form-control" id="select_conc" name="select_conc">
                                <option selected disabled>-Select One-</option>

                                {% for c in conc %}
                                    {% if c.conc_id  == poi.concelho_id %}
                                        <option value="{{ poi.concelho_id }}" selected="selected">{{ c.conc_name }}</option>

                                    {% else %}
                                        <option value="{{ c.conc_id }}">{{ c.conc_name }}</option>
                                    {% endif %}
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="name" class="col-md-2 control-label">POI Score</label>
                        <div class="col-md-2">
                            <select class="form-control" id="select_score" name="select_score">
                                <option selected disabled>-Select One-</option>

                                {% for i in range(1, 11) %}
                                    {% if i == poi.poi_score %}
                                        <option value="{{ poi.poi_score }}" selected="selected">{{ poi.poi_score}}</option>

                                    {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endif %}
                                {% endfor %}

                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="lat_degree" class="col-md-2 control-label">Latitude</label>
                        <div class="col-md-2">
                            <input type="number" class="form-control" id="lat_degree" name="lat_degree" value="{{ convert_decimalto_dms(poi.poi_lat).get("degree")}}" placeholder="Degree" >
                        </div>

                        <div class="col-md-2">
                            <input type="number" class="form-control" id="lat_minute" name="lat_minute" value="{{ convert_decimalto_dms(poi.poi_lat).get("minute")}}" placeholder="Minutes">
                        </div>

                        <div class="col-md-2">
                            <input type="number" class="form-control" id="lat_second" name="lat_second" value="{{ convert_decimalto_dms(poi.poi_lat).get("second")}}" placeholder="Seconds">
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" id="lat_direction" name="lat_direction">
                                <option selected disabled>-Direction-</option>
                                {% if convert_decimalto_dms(poi.poi_lat).get("direction_state") %}
                                    <option value="n" selected="selected">North</option>
                                    <option value="s">South</option>
                                {% else %}
                                    <option value="s" selected="selected">South</option>
                                    <option value="n">North</option>
                                {% endif %}

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="long_degree" class="col-md-2 control-label">Longitude</label>
                        <div class="col-md-2">
                            <input type="number" class="form-control" id="long_degree" name="long_degree" value="{{ convert_decimalto_dms(poi.poi_lon).get("degree")}}" placeholder="Degree">
                        </div>

                        <div class="col-md-2">
                            <input type="number" class="form-control" id="long_minute" name="long_minute" value="{{ convert_decimalto_dms(poi.poi_lon).get("minute")}}" placeholder="Minutes">
                        </div>

                        <div class="col-md-2">
                            <input type="number" class="form-control" id="long_second" name="long_second" value="{{ convert_decimalto_dms(poi.poi_lon).get("second")}}" placeholder="Seconds">
                        </div>

                        <div class="col-md-2">
                            <select class="form-control" id="long_direction" name="long_direction">
                                <option selected disabled>-Direction-</option>
                                {% if convert_decimalto_dms(poi.poi_lon).get("direction_state") %}
                                    <option value="e" selected="selected">East</option>
                                    <option value="w">West</option>
                                {% else %}
                                    <option value="w" selected="selected">West</option>
                                    <option value="e">East</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="poi_descri_pt" class="col-md-2 control-label">Short description</label>
                        <div class="col-md-6">
                            <textarea class="form-control" rows="8" id="poi_descri_pt_short" name="poi_descri_pt_short" placeholder="Portugues" datatype="text" >{{ poi.poi_descri_pt_short }}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="poi_descri_en" class="col-md-2 control-label"></label>
                        <div class="col-md-6">
                            <textarea class="form-control" rows="8" id="poi_descri_en_short" name="poi_descri_en_short" placeholder="English" datatype="text" >{{ poi.poi_descri_en_short }}</textarea>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="poi_descri_pt" class="col-md-2 control-label">Long description</label>
                        <div class="col-md-6">
                            <textarea class="form-control" rows="8" id="poi_descri_pt_long" name="poi_descri_pt_long" placeholder="Portugues" datatype="text" >{{ poi.poi_descri_pt_long }}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="poi_descri_en" class="col-md-2 control-label"></label>
                        <div class="col-md-6">
                            <textarea class="form-control" rows="8" id="poi_descri_en_long" name="poi_descri_en_long" placeholder="English" datatype="text" >{{ poi.poi_descri_en_long }}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="poi_notes" class="col-md-2 control-label">Notes</label>
                        <div class="col-md-6">
                          <textarea class="form-control" rows="4" id="poi_notes" name="poi_notes" datatype="text">{{ poi.poi_notes }}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="poi_soure_info" class="col-md-2 control-label">Source Information</label>
                        <div class="col-md-6">
                          <textarea class="form-control" rows="4" id="poi_source_info" name="poi_source_info" datatype="text">{{ poi.poi_source }}</textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="poi_open_edit" class="col-md-2 control-label">Open/close Hours</label>

                        {% for default_hour in default_open_close_hour %}
                            <div class=" form-group">
                                <div class="col-md-2">
                                  <input type="text" class="form-control" id="poi_open_edit" name="poi_open[]" value="{{ convertdecimaltotime(default_hour[0])}}" placeholder="open Hour">
                                </div>

                                <div class="col-md-2">
                                  <input type="text" class="form-control" id="poi_close_edit" name="poi_close[]" value="{{ convertdecimaltotime(default_hour[1])}}" placeholder="close Hour" >
                                </div>

                                <button type="button" class="addNewField_btn btn-primary">Add New Field</button>
                            </div> <!-- End form Group -->
                        {% endfor %}
                    </div>

                    <div class="time_edit_field form-group">

                        {% for info in poi_open_close_h %}

                            <div class="form-group">
                            <label for="poi_open" class="col-md-2 control-label"></label>

                                <div class="col-md-2">
                                    <input type="text"  class="selectime form-control" id="time_poi_open" name="poi_open[]"  value="{{ convertdecimaltotime(info[0]) }}">
                                </div>

                                <div class="col-md-2">
                                   <input type="text"  class="selectime form-control" id="time_poi_close" name="poi_close[]" value="{{ convertdecimaltotime(info[1]) }}">
                                </div>
                                <a href="#"><button type="button" class="remove_field btn-primary">Remove</button></a>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="visitduration" class="col-md-2 control-label">Duration of Visit</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="visitduration" name="visitduration" value="{% for durationvisit in duration_visit %}{{ convertdecimaltotime(durationvisit) }}{% endfor %}">
                        </div>
                </div>

                        <div class="form-group">
                        <label for="imagelist" class="col-md-2 control-label">Current images</label>

                        {% for img in images %}
                    <div class=" form-group">
                        <div class="col-md-0">
                            <input type="hidden" class="form-control" id="image_name" name="image_name[]" value="{{img[0]}}" placeholder="image ID">
                            </div>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="image_name" name="image_name[]" value="{{img[1]}}" placeholder="image name" disabled>
                            </div>
                          <div class="col-sm-3" id="imageContainer">
                              <img src="{{ url_for('static', filename='uploads/256px_' + img[1]) }}"
                            class="img-thumbnail" alt="" width="150" height="100"/>

                        
                         </div>
                                <a href="{{ url_for('images.delete_image_edit', img_id = img[0]) }}"><button type="button" class="Deleteimg_btn btn-primary">Delete image</button></a>
  

                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="img_file" class="col-md-2 control-label">Image</label>
                        <div class="col-md-4">
                            <input type="file" class="file-upload"  id="imagefile" name="imagefile[]" >
                        </div>
                        <div class="col-sm-4" id="imageContainer" ></div>
                        <button type="button" class="addNewimgField_btn btn-primary">Add New Field</button>
                    </div>
                    <!-- ADD Dynamic Fields Here-->
                    <div class="form-group new_img_field ">

                    </div>
                            
                    <div class="form-group">
                    <label for="name" class="col-md-2 control-label">Is POI complete?</label>
                        {% if poi.poi_review == 0 %}
                        <div class="col-md-4">
                           <input type="radio"  name="poistate_radio" value="1">Yes
                           <input type="radio"  name="poistate_radio" value="0" checked>No
                        </div>
                        {% else %}
                        <div class="col-md-4">
                           <input type="radio"  name="poistate_radio" value="1" checked>Yes
                           <input type="radio"  name="poistate_radio" value="0">No
                        </div>
                        {% endif %}
                    </div>
                            
                    <div class="form-group">
                    <label for="name" class="col-md-2 control-label">Is the English valid?</label>
                        {% if poi.poi_en_review == 0 %}
                        <div class="col-md-4">
                           <input type="radio"  name="poistate_radio_en" value="1">Yes
                           <input type="radio"  name="poistate_radio_en" value="0" checked>No
                        </div>
                        {% else %}
                        <div class="col-md-4">
                           <input type="radio"  name="poistate_radio_en" value="1" checked>Yes
                           <input type="radio"  name="poistate_radio_en" value="0">No
                        </div>
                        {% endif %}
                    </div>
                            
                    <div class="form-group">
                    <label for="name" class="col-md-2 control-label">Has it been reviewed?</label>
                        {% if poi.poi_future_review == 0 %}
                        <div class="col-md-4">
                           <input type="radio"  name="poistate_radio_fut" value="1">Yes
                           <input type="radio"  name="poistate_radio_fut" value="0" checked>No
                        </div>
                        {% else %}
                        <div class="col-md-4">
                           <input type="radio"  name="poistate_radio_fut" value="1" checked>Yes
                           <input type="radio"  name="poistate_radio_fut" value="0">No
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-offset-4 col-md-8">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a href="{{ url_for('.list_pois') }}"><button type="button" class="btn btn-primary">Cancel</button></a>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block tail %}
    <script src="/static/js/jquery-1.12.4.js"></script>
    <script src="/static/js/jquery.validate.js"></script>
    <script src="/static/js/jquery.timepicker.js"></script>

    <!-- Project Script -->
    <script src="/static/pois_edit.js"></script>
{% endblock %}