{% extends 'admin/master.html' %}

{% block head_content %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
        integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
        crossorigin=""/>

    <style type="text/css">
        p {
            text-indent: 50px;
        }

        .container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            max-width: 1000px;
            overflow: hidden;
            min-height: 700px !important;
        }

        #mymap {
            width: auto;
            height: 400px;
        }
    </style>

    <script type="text/javascript">
        var lan = parseFloat('{{ poi.poi_lat }}');
        var lon = parseFloat('{{ poi.poi_lon }}');
        var poiName = '{{ poi.poi_name}}';
        var poiimage = [];

        {%  for img in poi.poi_image %}
            poiimage.push(String('{{ img.copy_img }}'));
        {% endfor %}

        var info = '<div>' +
                '<b>Latitude: </b>' +
                ' {{ convert_decimalto_dms(poi.poi_lat).get("degree") }}&deg; ' +
                '{{ convert_decimalto_dms(poi.poi_lat).get("minute") }} &#39; ' +
                '{{ convert_decimalto_dms(poi.poi_lat).get("second") }}&quot; ' +
                '{% if convert_decimalto_dms(poi.poi_lat).get("direction_state") %}'+
                    ' N'+
                    '{% else %}'+
                    ' S'+
                    '{% endif %}' +

                '<br><b>Longitude:</b>' +
                ' {{ convert_decimalto_dms(poi.poi_lon).get("degree") }}&deg; ' +
                '{{ convert_decimalto_dms(poi.poi_lon).get("minute") }} &#39; ' +
                '{{ convert_decimalto_dms(poi.poi_lon).get("second") }}&quot; ' +
                '{% if convert_decimalto_dms(poi.poi_lon).get("direction_state") %}'+
                    ' E'+
                    '{% else %}'+
                    ' W'+
                    '{% endif %}<br/>' +
                ' </div>'
    </script>
{% endblock %}


{% block page_content %}

    <div class="container">

        <div class="row text-info">
            <div class="col-md-6">
                <h4>{{ poi.poi_name | title }}(<b>{{ categoryname | capitalize }}</b>)</h4>
                Last Updated: {{ last_update }}<br>
				<h5><b>Avarage visit time:</b> {{ convertdecimaltotime(poi_vdura)}} h; <b>Visit score: </b> {{ poi.poi_score }}</h5>
            </div>
            <div class="h5">Reads
                <input type="radio" name="descript" value="1">Portugues
                <input type="radio" name="descript" checked="checked" value="0">English
            </div>
        </div>

        <hr>

        <div class="row">
	    <div class="col-md-4">
		{% if img.original_img|length > 0 %}
		     <img src="/static/uploads/512px_{{ img.original_img }}" class="img-thumbnail" alt="" width="300" height="200"/>
        {% else %}
             <img src="/static/uploads/300x200.png" class="img-thumbnail" alt="" width="300" height="200"/>
                {% endif %}
	    </div>
            <div class="col-md-8">
                <div id="read_description_pt" class="read" style="display: none">
                    <p class="text-justify"> <strong>Descrição curta:</strong> {{ poi.poi_descri_pt_short }}</p>
                    <p class="text-justify"> <strong>Descrição longa:</strong> {{ poi.poi_descri_pt_long }}</p>
                </div>
                <div id="read_description_en" class="read" style="display: block">
                    <p class="text-justify"> <strong>Short description</strong>: {{ poi.poi_descri_en_short }}</p>
                    <p class="text-justify"> <strong>Long description</strong>: {{ poi.poi_descri_en_long }}</p>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="mymap"></div>
            </div>
            <div class="text-info col-md-4">
                <h4>Schedule and Contacts Info</h4><hr>
				
				{% if poi_open_or_close == 0  %}
					<b>POI is Close</b>
				{% else %}
					<b>POI is Open</b>
				{% endif %}<br>

				{% if poi.poi_future_review == 0  %}
					The POI does not have a schedule<br>
				{% else %}
					The POI has schedule<br>
					<b>Open:</b>
					{% for item in poi.poi_schedule %}
                        {{ convertdecimaltotime(item.poi_open_h) }},
					{% endfor %}<br>

					<b>Close:</b>
						{% for item in poi.poi_schedule %}
							{{ convertdecimaltotime(item.poi_close_h) }},
						{% endfor %}<br>
				{% endif %}

                {% if contact.telephone %}
                    <b>Telephone:</b> {{ contact.telephone }}<br>
                {% endif %}

                {% if  contact.email %}
                    <b>Email:</b> {{ contact.email }}<br>
                {% endif %}


                {% if poi.poi_address  %}
                    <b>Address:</b> {{ poi.poi_address}}<br>
                {% endif %}
				
				{% if countyname  %}
                    <b>Sub-region:</b> {{ countyname}}<br>
                {% endif %}
				
                {% if poi.poi_lat  %}
                    <b>Latitude:</b> {{ poi.poi_lat}}<br>
                {% endif %}
				
				{% if poi.poi_lon  %}
                    <b>Longitude:</b> {{ poi.poi_lon}}<br>
                {% endif %}

                {% if contact.website %}
                    <b>Website:</b> <a href="{{ contact.website }}" target="_blank">{{ contact.website }}</a><br>
                {% endif %}
				
				{% if poi.poi_review == 0  %}
					The POI is not reviewed
				{% else %}
					The POI is reviewed
				{% endif %}<br>
				
				{% if poi.poi_en_review == 0  %}
					The english is not reviewed
				{% else %}
					The english is reviewed
				{% endif %}<br>

                {% if poi.poi_notes %}
                    <hr>
                    <h4>Annotation</h4><hr>{{ poi.poi_notes }}
                {% endif %}

                {% if poi.poi_source %}
                       <hr>
                    <h4>Information Sources</h4>{{ poi.poi_source }}
                {% endif %}
				
             <hr>
            </div>
        </div>
		<div style="padding-top: 10px">
			<a href="{{ url_for('.detailview_pois', poi_id = bt_prev) }}" ><button type="button" class="edit_poi" {% if poi.id <= min_id %}disabled{% endif %}>Previous</button></a>
			<a href="{{ url_for('.edit_pois', poi_id = poi.id) }}" target="_blank"><button type="button" class="edit_poi">Edit</button></a>
			<a href="{{ url_for('.delete_pois', poi_id = poi.id) }}"><button type="button" class="delete_poi">Delete</button></a>
			<a href="{{ url_for('.detailview_pois', poi_id = bt_next) }}" ><button type="button" class="edit_poi" {% if poi.id >= max_id %}disabled{% endif %}>Next</button></a>
		</div>
	</div>

{% endblock %}

{% block tail %}
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
        integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
        crossorigin="">
    </script>
    <script src="{{ url_for('static', filename='js/jquery-1.12.4.js') }}"></script>
    <script src="/static/pois_detailview.js"></script>
{% endblock %}