{% extends "base.html" %}

{% block content %}
<style>
a.offset{
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}
</style>
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <a name="projecto" class="offset"></a>
                    <hr>
                        <h2 class="intro-text text-center">
                            <strong>BRAND NAME / PROJECT NAME / MAP NAME</strong>
                        </h2>
                    <hr>
                </div>

                <div class="col-md-12">
                    <h3 class="intro-text text-center"><strong>SHORT DESCRIPTION</strong></h3>
                    <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin elit ac eros fringilla, at convallis ante gravida. Etiam nec massa vel augue interdum rhoncus. Mauris consectetur tortor quis augue mattis, nec fermentum est vulputate. Vivamus sagittis non nulla eu pellentesque. Curabitur mattis lectus dui, congue ullamcorper tellus pretium vitae. Pellentesque neque ante, pharetra nec mauris cursus, commodo pharetra enim. Nullam ullamcorper enim lacus, id consectetur magna auctor id. Sed felis turpis, accumsan et mi eu, finibus tempor nisl. Cras ut lorem blandit diam placerat finibus. Suspendisse imperdiet tempor dapibus. Phasellus rhoncus convallis lacinia. Mauris maximus erat convallis congue venenatis.</p>
                </div>
                
                <div class="col-md-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong>PROJECT</strong></h2>
                    <hr>
                    <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non facilisis lacus. Aenean non euismod leo, nec accumsan odio. Nam ullamcorper consectetur vulputate. Proin gravida justo ut dui finibus, non semper elit mattis. Cras imperdiet, ligula at rutrum consequat, elit enim tincidunt quam, quis bibendum elit purus ut orci. Aenean sed lectus nisl. Duis fermentum rutrum ex a commodo. In ultricies, ex at luctus tristique, ex augue posuere odio, at gravida est enim non odio.</p>

                    <p align="justify">Nunc libero ex, interdum non odio et, mattis luctus mi. Maecenas feugiat a eros in viverra. Proin quis neque nisl. Proin non maximus risus. Sed vehicula congue urna, et accumsan odio egestas quis. Ut convallis, purus nec condimentum ornare, nulla elit aliquam dolor, a rhoncus nunc felis non tellus. Donec at consequat justo. Etiam eu arcu enim. Nulla tempor nulla sed justo ultricies, a luctus nibh suscipit. Quisque a est non nisl hendrerit vehicula ut eu est. Phasellus consequat aliquet pretium. Proin efficitur justo iaculis, rhoncus lorem id, dictum lorem. Sed egestas libero id odio rutrum, sit amet feugiat erat aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                    <p align="justify">Vestibulum mattis, erat sit amet facilisis iaculis, massa urna imperdiet ligula, a fermentum sapien massa nec orci. Sed quis interdum lectus. Quisque eget faucibus dui. Donec vehicula dolor ligula, convallis sagittis nibh placerat a. Maecenas auctor, elit eu aliquet interdum, diam risus ultrices elit, sit amet feugiat ipsum est ut urna. In hac habitasse platea dictumst. Sed non ante eget neque lobortis interdum. Nunc malesuada velit a dui commodo, eget aliquet sem cursus. Fusce aliquam vel odio vel cursus. Ut elementum urna mi, ullamcorper volutpat neque ultricies eget.</p>
               </div>
            </div>
        </div>
  
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <a name="equipa" class="offset"></a>
                    <hr>
                    <h2 class="intro-text text-center"><strong>TEAM</strong></h2>
                    <hr>
                </div>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Maecenas euismod ex eu ex scelerisque mollis.</li>
                    <li>Ut tempor sem ac nibh congue, a faucibus dolor tempor.</li>
                </ul>
                <ul>
                    <li>Sed ac mauris consectetur, accumsan ligula nec, posuere risus.</li>
                    <li>Praesent eu neque gravida, congue purus non, fringilla ante.</li>
                    <li>Phasellus ornare augue et odio maximus, quis efficitur risus laoreet.</li>
                </ul> 
                <ul>
                    <li>Morbi sit amet quam quis elit suscipit convallis vitae a elit.</li>
                    <li>Etiam quis tortor sit amet tellus auctor dapibus.</li>
                    <li>Mauris ullamcorper tellus sed enim vulputate auctor sit amet non dolor.</li>
                </ul>
                <ul>
                    <li>Cras eu lectus fringilla, facilisis lectus vitae, placerat nisl.</li>
                    <li>Ut eleifend velit at diam aliquam, ac aliquam enim pharetra.</li>
                    <li>Duis rhoncus nisi ut est fringilla, luctus malesuada purus vehicula.</li>
                    <li>Integer id purus id ex ornare volutpat.</li>
                    <li>Suspendisse sed ante imperdiet, euismod est non, porttitor nisl.</li>
                    <li>In auctor diam eu nulla dignissim, vel congue massa auctor.</li>
                </ul> 
                <ul>
                    <li>Integer et lectus sed tellus porttitor pharetra.</li>
                </ul>
                
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <a name="parceiros" class="offset"></a>
                    <hr>
                    <h2 class="intro-text text-center"><strong>PARTNERS</strong></h2>
                    <hr>
                    <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla facilisis tellus, sed maximus mi vestibulum ut. Aenean laoreet tortor sit amet sem scelerisque, venenatis luctus dolor iaculis. Vestibulum blandit enim in fringilla euismod. Sed varius ex eu nunc vulputate, vitae tristique nibh vehicula. Ut interdum justo sed elit pellentesque facilisis. Etiam et hendrerit ipsum, in porta diam. Curabitur gravida malesuada velit sed euismod. Aliquam tincidunt porta odio vitae ullamcorper. Aliquam scelerisque, nisi ac maximus aliquam, odio nisi sodales turpis, dapibus vehicula erat mauris quis tellus. In consequat mauris tincidunt, tempor risus nec, maximus orci. Aenean eu justo mauris. Morbi maximus, lacus id gravida porttitor, urna sapien lobortis lectus, ut vestibulum ipsum lectus sit amet massa. Sed efficitur rutrum lobortis.</p>
                    
                    <p align="justify">Curabitur tincidunt sem varius facilisis pharetra. Phasellus eget sagittis nibh. In at ante egestas, posuere quam ac, euismod nisl. Aliquam sagittis facilisis est in rhoncus. Suspendisse pulvinar felis ipsum, id aliquet purus rutrum vel. Sed cursus libero est, sit amet rutrum libero ornare sit amet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin nec ullamcorper lorem. Aenean iaculis, arcu id consequat euismod, sem erat viverra dolor, sed consectetur eros purus dapibus ligula. Duis ex mi, semper id sapien ut, mattis vehicula enim. Aenean ut diam sem. Donec non scelerisque odio. Proin id accumsan massa. Nam lobortis erat et est suscipit, non ultricies nisi lobortis.</p>
        </div>
        
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <a name="contactos"></a>
                    <hr>
                    <h2 class="intro-text text-center"> <strong>CONTACTS</strong></h2>
                    <hr>                  
                    <h4>Name:<br/>
                        Adress:<br/>
                        Phone:<br/>
                        Email:
                    </h4>                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block tail_content %}
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
{% endblock %}
