{% extends "base.html" %}

{% block content %}

    <style>
        th{
            text-align: center;
            background-color: #428bca;
            color: white;
        }
        #thcreate{
            text-align: left;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center"><strong>Terms of Use</strong></h2>
                <hr>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non facilisis lacus. Aenean non euismod leo, nec accumsan odio. Nam ullamcorper consectetur vulputate. Proin gravida justo ut dui finibus, non semper elit mattis. Cras imperdiet, ligula at rutrum consequat, elit enim tincidunt quam, quis bibendum elit purus ut orci. Aenean sed lectus nisl. Duis fermentum rutrum ex a commodo. In ultricies, ex at luctus tristique, ex augue posuere odio, at gravida est enim non odio.</p>

                <p align="justify">Nunc libero ex, interdum non odio et, mattis luctus mi. Maecenas feugiat a eros in viverra. Proin quis neque nisl. Proin non maximus risus. Sed vehicula congue urna, et accumsan odio egestas quis. Ut convallis, purus nec condimentum ornare, nulla elit aliquam dolor, a rhoncus nunc felis non tellus. Donec at consequat justo. Etiam eu arcu enim. Nulla tempor nulla sed justo ultricies, a luctus nibh suscipit. Quisque a est non nisl hendrerit vehicula ut eu est. Phasellus consequat aliquet pretium. Proin efficitur justo iaculis, rhoncus lorem id, dictum lorem. Sed egestas libero id odio rutrum, sit amet feugiat erat aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                <p align="justify">Vestibulum mattis, erat sit amet facilisis iaculis, massa urna imperdiet ligula, a fermentum sapien massa nec orci. Sed quis interdum lectus. Quisque eget faucibus dui. Donec vehicula dolor ligula, convallis sagittis nibh placerat a. Maecenas auctor, elit eu aliquet interdum, diam risus ultrices elit, sit amet feugiat ipsum est ut urna. In hac habitasse platea dictumst. Sed non ante eget neque lobortis interdum. Nunc malesuada velit a dui commodo, eget aliquet sem cursus. Fusce aliquam vel odio vel cursus. Ut elementum urna mi, ullamcorper volutpat neque ultricies eget.</p>
                
            </div>
        </div>

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
 
            </div>
        </div>
    </div>

        <hr>

        {% endblock %}
        <!-- Footer -->
        {%block tail_content%}

            <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
        
        {% endblock %}



